
h1{
    color: rgb(0, 0, 0)
}

#main-message{
    color:rgb(0, 0, 0);
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 432px;
}

.square {
    height:140px;
    width: 140px;
    border: 2px solid black;
}