
h1{
    color: rgb(0, 0, 0)
}

#game-message{
    flex-direction: column;
    color:rgb(0, 0, 0);

}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap:wrap;
    width:432px;
}


.square {
    height:140px;
    width: 140px;
    border: 2px solid black;
}