body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    
h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
    }



h1{
    color: rgb(0, 0, 0)
}

#game-message{
    flex-direction: column;
    color:rgb(0, 0, 0);

}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
    }

.flex-wrap {
    flex-wrap:wrap;
    width: 432px;
}


.square {
    height:140px;
    width: 140px;
    border: 2px solid black;
}


#reset-button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
    }